*{
    padding: 0;
    margin: 0;
}
.navigation{
    width: 100vw;
    height: 10vh;
    background-color:rgb(32, 21, 42);
    display: flex;
    flex-direction: row;
}
.search{
    height: 5vh;
    border-radius:5px;
    width: 30vw;
    border:none;
    margin-top: 2vh;
    margin-left: 5vw;
}

.heading{
    margin-top: 1vh;
    color: aliceblue;
    margin-left: 10vh;
}

.crypto-img{
    width: 25vh;
    margin-bottom: 2vh;
    height: auto;
    margin-left: 2vh;
}
::placeholder{
    padding-left: 10px;
}
.crypto-card{
    text-align: center;

    width: 37vh;
    color: white;
    background-color: rgb(32, 21, 42);
    padding: 20px;
    border-radius: 25px;
    align-items: center;
    border: solid 0.1mm;
    box-shadow: black 1px 1px 5px 0.1px;
}
.container{
    display: grid;
    grid-template-columns: auto auto auto auto;
    column-gap: 11vh;
    row-gap: 5vh;
    margin-left: 2vh;
    margin-top: 5vh;
}
